battlegame-fe/node_modules/
battlegame-fe/build/
battlegame-fe/.env
battlegame-fe/.env.local
battlegame-fe/.env.*.local

# Azure Functions build & secrets
bin/
obj/
.azurefunctions/
**/functions.metadata
**/extensions.json
**/worker.config.json
local.settings.json

# Editors / OS
.vscode/
.DS_Store
Thumbs.db
